.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid rgba(255, 216, 62, 1);
    background-color: rgba(0, 64, 119, 1);
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .navbar * {
    margin: 0 auto;
  }
  
  .navbar h1 {
    color: rgba(255, 216, 62, 1);
    top: 0;
    margin-bottom: auto;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .navbar div {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
  }

  .navbar div a {
    padding-right: 1em;
    padding-left: 1em;
    color: rgba(255, 216, 62, 1);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    transition: color .250s;
    transition: background-color .250s;
    transition: box-shadow .250s;
    transition: padding .250s;
  }

.navbar div a:hover{
    color: rgba(0, 64, 119, 1);
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgba(255, 204, 0, 1);
    box-shadow: 0 0 0.5em 0.5em rgba(255, 204, 0, 1);
}

.logo{
    display: flex;
    padding: 0;
    margin: 0;
    width: 100px;
    margin-right: 10em;
}

.contacto{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 2px solid rgba(255, 216, 62, 1);
    background-color: rgba(0, 64, 119, 1);
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5em;
}

.contacto p{
    color: rgba(255, 216, 62, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: auto;
}

.nombre{
    color: rgba(0, 64, 119, 1);
    font-size: 5em;
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 64, 119, 1);
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 64, 119, 1);
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 64, 119, 1);
}